@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

h1 {
  margin: 1em auto;
  text-align: center;
  font-size: 2rem;
}

p {
  text-align: center;
}

.title-container {
  margin-bottom: 30px;
}

body {
  color: #FFCD4B;
  background-color: #0802A3;
  font-family: 'VT323', monospace;
  margin-bottom: 10px;
  display: block;
}

input, select {
  display: block;
  margin-top: 10px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 1.5rem;
}

/* Submit button */
input[type="submit"] {
  font-family: 'VT323', monospace;
  display: block;
  width: 50%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  min-width: 300px;
  color: #FFCD4B;
  background-color: #FF7676;
  border: none;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  background-color: #FF4B91;
  border-color: #FF7676;
  border-width: 20px;
}

input[type="radio"], input[type="checkbox"], h4 {
  display: inline;
}

/* For user messages. */
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  max-width: 15em;
}
